html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
                  135deg,
                  rgba(0, 97, 242, 1) 0%,
                  rgb(0, 174, 254) 100%
  );
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}
